USE [master]
GO
/****** Object:  Database [KTPM]    Script Date: 6/5/2023 11:10:58 PM ******/
CREATE DATABASE [KTPM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KTPM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KTPM.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KTPM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KTPM_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KTPM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KTPM]
GO
/****** Object:  Table [dbo].[CANBO]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CANBO](
	[TENDANGNHAP] [varchar](20) NULL,
	[MATKHAU] [varchar](10) NULL,
	[VAITRO] [varchar](5) NULL,
	[NUMORDER] [int] IDENTITY(1,1) NOT NULL,
	[MACB]  AS (([TENDANGNHAP]+[VAITRO])+CONVERT([varchar](10),[NUMORDER])) PERSISTED NOT NULL,
	[HOTEN] [nvarchar](20) NULL,
	[GIOITINH] [int] NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [varchar](20) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](50) NULL,
 CONSTRAINT [PK_CANBO] PRIMARY KEY CLUSTERED 
(
	[MACB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYENNGANH]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENNGANH](
	[MACHUYENNGANH] [varchar](10) NOT NULL,
	[TENCHUYENNGANH] [nvarchar](20) NULL,
	[COSO] [nvarchar](10) NULL,
	[THOIGIANDAOTAO] [int] NULL,
 CONSTRAINT [PK_CHUYENNGANH] PRIMARY KEY CLUSTERED 
(
	[MACHUYENNGANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[NUMORDER] [int] IDENTITY(1,1) NOT NULL,
	[MADV]  AS ('DV'+CONVERT([varchar](10),[NUMORDER])) PERSISTED NOT NULL,
	[TENDV] [nvarchar](30) NULL,
	[PHONGBANPHUTRACH] [nvarchar](30) NULL,
	[MoTa] [nvarchar](50) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVUSVDADANGKY]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVUSVDADANGKY](
	[MADV] [varchar](12) NOT NULL,
	[MASV] [varchar](35) NOT NULL,
	[NGAYDK] [date] NULL,
	[NOIDUNG] [nvarchar](100) NULL,
	[TRANGTHAI] [nvarchar](30) NULL,
 CONSTRAINT [PK_DICHVUSVDADANGKY] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC,
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIEMTHANHPHAN]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTHANHPHAN](
	[MASV] [varchar](35) NOT NULL,
	[MAMONHOC] [varchar](10) NOT NULL,
	[MACHUYENNGANH] [varchar](10) NOT NULL,
	[MALOPHOC] [varchar](10) NOT NULL,
	[NAM] [int] NOT NULL,
	[MUA] [nvarchar](20) NOT NULL,
	[LAB1] [float] NULL,
	[LAB2] [float] NULL,
	[LAB3] [float] NULL,
	[LAB4] [float] NULL,
	[ASSIGNMENT] [float] NULL,
	[DIEMTHI] [float] NULL,
 CONSTRAINT [PK_DIEMTHANHPHAN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMONHOC] ASC,
	[MACHUYENNGANH] ASC,
	[MALOPHOC] ASC,
	[NAM] ASC,
	[MUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIANGVIEN]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIANGVIEN](
	[TENDANGNHAP] [varchar](20) NULL,
	[MATKHAU] [varchar](10) NULL,
	[VAITRO] [varchar](5) NULL,
	[ANH] [image] NULL,
	[NUMORDER] [int] IDENTITY(1,1) NOT NULL,
	[MAGV]  AS (([TENDANGNHAP]+[VAITRO])+CONVERT([varchar](10),[NUMORDER])) PERSISTED NOT NULL,
	[HOTEN] [nvarchar](20) NULL,
	[GIOITINH] [int] NULL,
	[NGAYSINH] [date] NULL,
	[EMAIL] [varchar](20) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[NGAYVAOLAM] [date] NULL,
 CONSTRAINT [PK_GIANGVIEN] PRIMARY KEY CLUSTERED 
(
	[MAGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[NUMORDER] [int] IDENTITY(1,1) NOT NULL,
	[MAHD]  AS ('HD'+CONVERT([varchar](10),[NUMORDER])) PERSISTED NOT NULL,
	[MAVI] [uniqueidentifier] NOT NULL,
	[MASV] [varchar](35) NOT NULL,
	[SOTIEN] [money] NULL,
	[NGAYGD] [date] NULL,
	[GIOGD] [time](7) NULL,
	[CHUTHICH] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH](
	[MASV] [varchar](35) NOT NULL,
	[MAMONHOC] [varchar](10) NOT NULL,
	[MALOPHOC] [varchar](10) NOT NULL,
	[MAPHONGHOC] [varchar](10) NOT NULL,
	[MAGV] [varchar](35) NOT NULL,
	[MACHUYENNGANH] [varchar](10) NOT NULL,
	[NAM] [int] NOT NULL,
	[MUA] [varchar](10) NOT NULL,
	[NGAYHOC] [date] NULL,
	[THOIGIAN] [varchar](30) NULL,
	[LOAILICH] [nvarchar](30) NULL,
 CONSTRAINT [PK_LICH] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAMONHOC] ASC,
	[MALOPHOC] ASC,
	[MAPHONGHOC] ASC,
	[MAGV] ASC,
	[MACHUYENNGANH] ASC,
	[NAM] ASC,
	[MUA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOPHOC]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOPHOC](
	[MALOPHOC] [varchar](10) NOT NULL,
	[MACHUYENNGANH] [varchar](10) NULL,
	[TENLOPHOC] [varchar](20) NULL,
	[NAM] [int] NULL,
	[MUA] [varchar](10) NULL,
 CONSTRAINT [PK_LOPHOC] PRIMARY KEY CLUSTERED 
(
	[MALOPHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MONHOC](
	[NUMORDER] [int] IDENTITY(1,1) NOT NULL,
	[MAMONHOC] [varchar](10) NOT NULL,
	[MACHUYENNGANH] [varchar](10) NULL,
	[MALOPHOC] [varchar](10) NULL,
	[TENMONHOC] [varchar](10) NULL,
	[SOTINCHI] [int] NULL,
	[NAM] [int] NULL,
	[MUA] [varchar](10) NULL,
	[MAGV] [varchar](35) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGHOC]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGHOC](
	[MAPHONGHOC] [varchar](10) NOT NULL,
	[TENPHONGHOC] [nvarchar](30) NULL,
	[TOANHA] [nvarchar](20) NULL,
 CONSTRAINT [PK_PHONGHOC] PRIMARY KEY CLUSTERED 
(
	[MAPHONGHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[TENDANGNHAP] [varchar](20) NULL,
	[MATKHAU] [varchar](10) NULL,
	[VAITRO] [varchar](5) NULL,
	[ANH] [image] NULL,
	[NUMORDER] [int] IDENTITY(1,1) NOT NULL,
	[MASV]  AS (([TENDANGNHAP]+[VAITRO])+CONVERT([varchar](10),[NUMORDER])) PERSISTED NOT NULL,
	[HOTEN] [nvarchar](20) NULL,
	[GIOITINH] [int] NULL,
	[NGAYSINH] [date] NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[NIENKHOA] [int] NULL,
	[MACHUYENNGANH] [nvarchar](30) NULL,
	[NGAYNHAPHOC] [date] NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VIHOCPHI]    Script Date: 6/5/2023 11:10:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIHOCPHI](
	[NUMORDER] [int] IDENTITY(1,1) NOT NULL,
	[MAVI] [uniqueidentifier] NOT NULL,
	[MASV] [varchar](35) NULL,
	[SODUHOCPHI] [money] NULL,
 CONSTRAINT [PK_VIHOCPHI] PRIMARY KEY CLUSTERED 
(
	[MAVI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [DF_HOADON_MAVI]  DEFAULT (newid()) FOR [MAVI]
GO
ALTER TABLE [dbo].[DICHVUSVDADANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUSVDADANGKY_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[DICHVUSVDADANGKY] CHECK CONSTRAINT [FK_DICHVUSVDADANGKY_DICHVU]
GO
ALTER TABLE [dbo].[DICHVUSVDADANGKY]  WITH CHECK ADD  CONSTRAINT [FK_DICHVUSVDADANGKY_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DICHVUSVDADANGKY] CHECK CONSTRAINT [FK_DICHVUSVDADANGKY_SINHVIEN]
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHANHPHAN_CHUYENNGANH] FOREIGN KEY([MACHUYENNGANH])
REFERENCES [dbo].[CHUYENNGANH] ([MACHUYENNGANH])
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN] CHECK CONSTRAINT [FK_DIEMTHANHPHAN_CHUYENNGANH]
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHANHPHAN_LOPHOC] FOREIGN KEY([MALOPHOC])
REFERENCES [dbo].[LOPHOC] ([MALOPHOC])
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN] CHECK CONSTRAINT [FK_DIEMTHANHPHAN_LOPHOC]
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHANHPHAN_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN] CHECK CONSTRAINT [FK_DIEMTHANHPHAN_MONHOC]
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTHANHPHAN_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[DIEMTHANHPHAN] CHECK CONSTRAINT [FK_DIEMTHANHPHAN_SINHVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_SINHVIEN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_VIHOCPHI] FOREIGN KEY([MAVI])
REFERENCES [dbo].[VIHOCPHI] ([MAVI])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_VIHOCPHI]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK_LICH_CHUYENNGANH] FOREIGN KEY([MACHUYENNGANH])
REFERENCES [dbo].[CHUYENNGANH] ([MACHUYENNGANH])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK_LICH_CHUYENNGANH]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK_LICH_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK_LICH_GIANGVIEN]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK_LICH_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK_LICH_MONHOC]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK_LICH_PHONGHOC] FOREIGN KEY([MAPHONGHOC])
REFERENCES [dbo].[PHONGHOC] ([MAPHONGHOC])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK_LICH_PHONGHOC]
GO
ALTER TABLE [dbo].[LICH]  WITH CHECK ADD  CONSTRAINT [FK_LICH_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[LICH] CHECK CONSTRAINT [FK_LICH_SINHVIEN]
GO
ALTER TABLE [dbo].[LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_CHUYENNGANH] FOREIGN KEY([MACHUYENNGANH])
REFERENCES [dbo].[CHUYENNGANH] ([MACHUYENNGANH])
GO
ALTER TABLE [dbo].[LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_CHUYENNGANH]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_CHUYENNGANH] FOREIGN KEY([MACHUYENNGANH])
REFERENCES [dbo].[CHUYENNGANH] ([MACHUYENNGANH])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_CHUYENNGANH]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_GIANGVIEN] FOREIGN KEY([MAGV])
REFERENCES [dbo].[GIANGVIEN] ([MAGV])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_GIANGVIEN]
GO
ALTER TABLE [dbo].[MONHOC]  WITH CHECK ADD  CONSTRAINT [FK_MONHOC_LOPHOC] FOREIGN KEY([MALOPHOC])
REFERENCES [dbo].[LOPHOC] ([MALOPHOC])
GO
ALTER TABLE [dbo].[MONHOC] CHECK CONSTRAINT [FK_MONHOC_LOPHOC]
GO
ALTER TABLE [dbo].[VIHOCPHI]  WITH CHECK ADD  CONSTRAINT [FK_VIHOCPHI_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
GO
ALTER TABLE [dbo].[VIHOCPHI] CHECK CONSTRAINT [FK_VIHOCPHI_SINHVIEN]
GO
USE [master]
GO
